config.local.pm
junk/
www/analysis.json
www/js/remoteglot.min.js
tblog.txt
ucilog.txt
ficslog.txt
openings.txt
www/history/
closure/
book/part-*.bin
book/ficsgame*.pgn
book/binloader
book/binlookup
book/eco.pgn
book/open.mtbl
