body {
	font-family: sans-serif;
}
h1 {
	margin-top: 0em;
}
h3 {
	margin-top: 1em;
	margin-bottom: 0;
}
#scorecontainer {
	font-size: x-large;
	margin-top: 0;
}
#score {
	float: left;
}
#scoresparkcontainer {
	overflow: hidden;
}
#scorespark {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#pvcontainer {
	clear: left;
	margin-top: 1em;
}
.window {
	position: absolute;    
	width: 0px;
	height: 0px;
	opacity: 0.0; 
}
.c1 {
	opacity: 0.75;
}
.l1arrow {
	opacity: 1.0;
}
.hidden {
	display: none;
}
.vir path {
	opacity: 0.0;
}
.vir path.l1arrow {
	opacity: 1.0;
}
#news {
	font-size: smaller;
}
#credits {
	font-size: smaller;
}
td {
	vertical-align: top;
}
p {
	margin-top: 0;
}
#sortbyscoreholder {
	font-size: smaller;
	margin: 0;
	font-style: italic;
}
#refutationlines {
	font-size: smaller;
}
#refutationlines .move {
	width: 3.5em;
}
#refutationlines .score {
	width: 3em;
	text-align: right;
	padding-right: 0.5em;
}
#refutationlines .depth {
	width: 2em;
	text-align: right;
	padding-right: 0.7em;
}
.white-1e1d7.nonuglyhighlight {
	background-color: #cce5cf;
}
.black-3c85d.nonuglyhighlight {
	background-color: #9ab6a6;
}
#boardcontainer {
	width: 400px;
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
}
#board {
	display: block;
	width: 100%;
	padding: 0;
}
#hiddenboard {
	display: none;
}
#bottompanel {
	display: block;
	width: 100%;
	font-size: smaller;
	margin-top: 0.5em;
	margin-bottom: 0;
}
#numviewers {
	width: auto;
	text-align: center;
}
#whiteinfo {
	float: left;
	text-align: left;
	min-width: 20%;
}
#blackinfo {
	float: right;
	text-align: right;
	min-width: 20%;
	margin-right: 5px;
}
#whiteimbalance img, #blackimbalance img {
	vertical-align: text-top;
}
#whiteimbalance {
	margin-left: 5px;
}
#blackimbalance {
	margin-right: 5px;
}
.running-clock {
	font-weight: bold;
}
#analysis {
	display: block;
	min-width: 400px;
	overflow: hidden;
}

/* If the board is too wide for the screen, shrink it to fit,
 * and then put the analysis below. */
@media all and (max-width: 400px) {
	#boardcontainer {
		width: 100%;
		float: none;
	}
	#analysis {
		min-width: 0;
	}
}

/* If there is almost space for the analysis, shrink the board a bit, too. */
@media all and (min-width: 500px) and (max-width: 810px) {
	#boardcontainer {
		float: left;
		width: 50%;
	}
	#analysis {
		min-width: 0;
	}
}
a.move {
	color: black;
	text-decoration: none;
}
a.move.highlight {
	color: red;
	font-weight: bold;
}
a.move:hover {
	font-weight: bold;
	text-decoration: underline;
}

#linenav {
	display: none;
}
#lomonosov {
	display: none;
}

#games {
	font-size: smaller;
	margin-bottom: 0.5em;
}
.game {
	padding: 0.25em 1em 0.25em 1em;
	margin: 0;
	background: #eee;
	border-right: 1px solid #bbb;
}
.game:last-of-type {
	border-right: none;
}
